<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>image-uploader</title>
  </head>
  <body>
    <h1>img uploader</h1>
    <div>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div>
          <label for="image">image</label>
          <input type="file" name="profileImage" />
        </div>
        <button type="submit">submit</button>
      </form>
    </div>
  </body>
</html>
